@model ProductoNuevoModel
@{
	ViewBag.Title = "Editar Producto";
}
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("ModifyProducto", "Producto", FormMethod.Post))
{
	<div class="row">
		<div class="col-md-12">
			@Html.HiddenFor(d => d.Id)
			@Html.LabelFor(d => d.ProDesc)
			@Html.TextBoxFor(d => d.ProDesc, "", new { @class = "form-control"})
			@Html.LabelFor(d => d.ProValor)
			@Html.TextBoxFor(d => d.ProValor, "", new { @class = "form-control"})
			<br>
			<div style="text-align:right;">
				<input value="Guardar" class="btn btn-primary" type="submit">
			</div>
		</div>
	</div>
}
